.titulo{
text-align: center;
font-size: 50px;
color: white;


}

.cabecalho{
    display: inline-flex;
    background-color: rgb(129, 127, 127);
}

h3{
    margin-right: 150px;
    margin-left: 150px;
    font-size: 30px;
    font-family: "Courgette", cursive;
    
   
}
li{
    font-size: 20px;
    font-family: Calibri;
    
}
.fases{
    margin: 10%;

}

body{
    background-color: rgb(42, 39, 39);
}
#minha-imagem{

    display: none;
}



button{
    background-color:rgb(42, 39, 39);
    margin-left: 500px;
    text-align: center;
    font-size: 50px;
    color: white;  
}
